* {
    margin: 0;
    padding: 0;
  }

  .main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #212121;
    color: whitesmoke;
  }

  .create-form label {
    color: whitesmoke !important; 
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
   }
