<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
}

.main-view {
    display: flex;
    justify-content: center;
    align-items: center;  
    position: relative; 
}

h1 {
    display: flex;
    justify-content: center;    
}

=======
.main-view{
    background-color: #212121;
}
>>>>>>> ca16ae9bbbf27c50e7fe4b2d512b8926f73f76f7
.buttonToHome {
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}
 .main-view1{
    background-color: #212121;
    justify-content: center;
    align-items: center;
   

 }


=======
}
>>>>>>> ca16ae9bbbf27c50e7fe4b2d512b8926f73f76f7
